body {
	
}

.linkImg {
	padding: 20px;
}

.btn-lg.round {
	border-radius: 10px;
}

.jumbotron{
background-color: #EEFFEE;
}


.control-label {
	font-size: 20px;
}

.form-group {
	border-radius: 10px;
}

.col-sm-4.round {
	border-radius: 10px;
}