body {
	
	font-family: 'Source Sans Pro', sans-serif;
}

.linkImg {
	padding: 20px;
}

.btn-lg.round {
	border-radius: 10px;
}

.jumbotron{
background-color: #EEFFEE;
padding-bottom: 70px;
}


.control-label {
	font-size: 20px;
}

.form-group {
	border-radius: 10px;
}

.col-sm-4.round {
	border-radius: 10px;
}

th {
	text-align: left;
}

h1 {
	padding-top: 30px;
}

.navbar-brand {
	font-size: 23px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-nav {
	font-size: 17px;
}
